<!--begin::Table widget 7-->
<div class="card card-flush h-xl-100">
	<!--begin::Header-->
	<div class="card-header pt-7">
		<!--begin::Title-->
		<h4 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">Latest Activity</span>
			<span class="text-gray-500 mt-1 fw-semibold fs-7">Updated 37 minutes ago</span>
		</h4>
		<!--end::Title-->
		<!--begin::Toolbar-->
		<div class="card-toolbar">
			<!--begin::Daterangepicker(defined in src/js/layout/app.js)-->
			<div data-kt-daterangepicker="true" data-kt-daterangepicker-opens="left" class="btn btn-sm btn-light d-flex align-items-center px-4">
			<!--begin::Display range-->
			<div class="text-gray-600 fw-bold">Loading date range...</div>
			<!--end::Display range-->
			@Html.Raw(KTTheme.GetIcon("calendar-8", "fs-1 ms-2 me-0"))</div>
			<!--end::Daterangepicker-->
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body py-3">
		<!--begin::Table container-->
		<div class="table-responsive">
			<!--begin::Table-->
			<table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
				<!--begin::Table head-->
				<thead>
					<tr class="border-bottom-0">
						<th class="p-0 w-50px"></th>
						<th class="p-0 min-w-175px"></th>
						<th class="p-0 min-w-175px"></th>
						<th class="p-0 min-w-150px"></th>
						<th class="p-0 min-w-150px"></th>
						<th class="p-0 min-w-50px"></th>
					</tr>
				</thead>
				<!--end::Table head-->
				<!--begin::Table body-->
				<tbody>
					<tr>
						<td>
							<div class="symbol symbol-40px">
								<span class="symbol-label bg-light-info">@Html.Raw(KTTheme.GetIcon("abstract-24", "fs-2x text-info"))</span>
							</div>
						</td>
						<td class="ps-0">
							<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Insurance</a>
							<span class="text-muted fw-semibold d-block fs-7">Personal Health</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">BTC Wallet</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Personal Account</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">23 Jan, 22</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Last Payment</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">-0.0024 BTC</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Balance</span>
						</td>
						<td class="text-end">
							<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">@Html.Raw(KTTheme.GetIcon("arrow-right", "fs-2"))</a>
						</td>
					</tr>
					<tr>
						<td>
							<div class="symbol symbol-40px">
								<span class="symbol-label bg-light-success">@Html.Raw(KTTheme.GetIcon("flask", "fs-2x text-success"))</span>
							</div>
						</td>
						<td class="ps-0">
							<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Annette Black</a>
							<span class="text-muted fw-semibold d-block fs-7">Zuid Area</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">ETH Wallet</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Personal Account</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">04 Feb, 22</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Last Payment</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">-0.346 ETH</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Balance</span>
						</td>
						<td class="text-end">
							<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">@Html.Raw(KTTheme.GetIcon("arrow-right", "fs-2"))</a>
						</td>
					</tr>
					<tr>
						<td>
							<div class="symbol symbol-40px">
								<span class="symbol-label bg-light-danger">@Html.Raw(KTTheme.GetIcon("abstract-33", "fs-2x text-danger"))</span>
							</div>
						</td>
						<td class="ps-0">
							<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Esther Howard</a>
							<span class="text-muted fw-semibold d-block fs-7">Zuid Area</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">BTC Wallet</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Personal Account</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">18 Feb, 22</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Last Payment</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">-0.00081 BTC</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Balance</span>
						</td>
						<td class="text-end">
							<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">@Html.Raw(KTTheme.GetIcon("arrow-right", "fs-2"))</a>
						</td>
					</tr>
					<tr>
						<td>
							<div class="symbol symbol-40px">
								<span class="symbol-label bg-light-primary">@Html.Raw(KTTheme.GetIcon("abstract-47", "fs-2x text-primary"))</span>
							</div>
						</td>
						<td class="ps-0">
							<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Guy Hawkins</a>
							<span class="text-muted fw-semibold d-block fs-7">Zuid Area</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">DOGE Wallet</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Personal Account</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">01 Apr, 22</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Last Payment</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">-456.34 DOGE</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Balance</span>
						</td>
						<td class="text-end">
							<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">@Html.Raw(KTTheme.GetIcon("arrow-right", "fs-2"))</a>
						</td>
					</tr>
					<tr>
						<td>
							<div class="symbol symbol-40px">
								<span class="symbol-label bg-light-warning">@Html.Raw(KTTheme.GetIcon("technology-2", "fs-2x text-warning"))</span>
							</div>
						</td>
						<td class="ps-0">
							<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Marvin McKinney</a>
							<span class="text-muted fw-semibold d-block fs-7">Zuid Area</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">BTC Wallet</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Personal Account</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">26 May, 22</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Last Payment</span>
						</td>
						<td>
							<span class="text-gray-900 fw-bold d-block fs-6">-0.000039 BTC</span>
							<span class="text-gray-500 fw-semibold d-block fs-7">Balance</span>
						</td>
						<td class="text-end">
							<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">@Html.Raw(KTTheme.GetIcon("arrow-right", "fs-2"))</a>
						</td>
					</tr>
				</tbody>
				<!--end::Table body-->
			</table>
			<!--end::Table-->
		</div>
		<!--end::Table container-->
	</div>
	<!--begin::Body-->
</div>
<!--end::Table widget 7-->