<!--begin::List widget 17-->
<div class="card card-flush h-xxl-100">
	<!--begin::Header-->
	<div class="card-header pt-7">
		<!--begin::Title-->
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">Popular Products</span>
			<span class="text-gray-500 mt-1 fw-semibold fs-6">8k social visitors</span>
		</h3>
		<!--end::Title-->
		<!--begin::Toolbar-->
		<div class="card-toolbar">
			<a href="?page=apps/ecommerce/catalog/add-product" class="btn btn-sm btn-light">Add Product</a>
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body pt-0">
		<!--begin::Content-->
		<div class="d-flex flex-stack my-5">
			<span class="text-gray-500 fs-7 fw-bold">ITEM</span>
			<span class="text-gray-500 fw-bold fs-7">ITEM PRICE</span>
		</div>
		<!--end::Content-->
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Wrapper-->
			<div class="d-flex align-items-center me-3">
				<!--begin::Icon-->
				<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/14.png")' class="me-4 w-50px" alt="" />
				<!--end::Icon-->
				<!--begin::Section-->
				<div class="flex-grow-1">
					<a href="?page=apps/ecommerce/sales/details" class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0">Fjallraven</a>
					<span class="text-gray-500 fw-semibold d-block fs-7">Item: #XDG-6437</span>
				</div>
				<!--end::Section-->
			</div>
			<!--end::Wrapper-->
			<!--begin::Value-->
			<span class="text-gray-800 fw-bold fs-6">$ 72.00</span>
			<!--end::Value-->
		</div>
		<!--end::Item-->
		<!--begin::Separator-->
		<div class="separator separator-dashed my-4"></div>
		<!--end::Separator-->
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Wrapper-->
			<div class="d-flex align-items-center me-3">
				<!--begin::Icon-->
				<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/13.png")' class="me-4 w-50px" alt="" />
				<!--end::Icon-->
				<!--begin::Section-->
				<div class="flex-grow-1">
					<a href="?page=apps/ecommerce/sales/details" class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0">Nike AirMax</a>
					<span class="text-gray-500 fw-semibold d-block fs-7">Item: #XDG-1836</span>
				</div>
				<!--end::Section-->
			</div>
			<!--end::Wrapper-->
			<!--begin::Value-->
			<span class="text-gray-800 fw-bold fs-6">$ 45.00</span>
			<!--end::Value-->
		</div>
		<!--end::Item-->
		<!--begin::Separator-->
		<div class="separator separator-dashed my-4"></div>
		<!--end::Separator-->
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Wrapper-->
			<div class="d-flex align-items-center me-3">
				<!--begin::Icon-->
				<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/41.png")' class="me-4 w-50px" alt="" />
				<!--end::Icon-->
				<!--begin::Section-->
				<div class="flex-grow-1">
					<a href="?page=apps/ecommerce/sales/details" class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0">Bose QC 35</a>
					<span class="text-gray-500 fw-semibold d-block fs-7">Item: #XDG-6254</span>
				</div>
				<!--end::Section-->
			</div>
			<!--end::Wrapper-->
			<!--begin::Value-->
			<span class="text-gray-800 fw-bold fs-6">$ 168.00</span>
			<!--end::Value-->
		</div>
		<!--end::Item-->
		<!--begin::Separator-->
		<div class="separator separator-dashed my-4"></div>
		<!--end::Separator-->
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Wrapper-->
			<div class="d-flex align-items-center me-3">
				<!--begin::Icon-->
				<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/53.png")' class="me-4 w-50px" alt="" />
				<!--end::Icon-->
				<!--begin::Section-->
				<div class="flex-grow-1">
					<a href="?page=apps/ecommerce/sales/details" class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0">Greeny</a>
					<span class="text-gray-500 fw-semibold d-block fs-7">Item: #XDG-1746</span>
				</div>
				<!--end::Section-->
			</div>
			<!--end::Wrapper-->
			<!--begin::Value-->
			<span class="text-gray-800 fw-bold fs-6">$ 14.50</span>
			<!--end::Value-->
		</div>
		<!--end::Item-->
		<!--begin::Separator-->
		<div class="separator separator-dashed my-4"></div>
		<!--end::Separator-->
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Wrapper-->
			<div class="d-flex align-items-center me-3">
				<!--begin::Icon-->
				<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/71.png")' class="me-4 w-50px" alt="" />
				<!--end::Icon-->
				<!--begin::Section-->
				<div class="flex-grow-1">
					<a href="?page=apps/ecommerce/sales/details" class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0">Apple Watches</a>
					<span class="text-gray-500 fw-semibold d-block fs-7">Item: #XDG-6245</span>
				</div>
				<!--end::Section-->
			</div>
			<!--end::Wrapper-->
			<!--begin::Value-->
			<span class="text-gray-800 fw-bold fs-6">$ 362.00</span>
			<!--end::Value-->
		</div>
		<!--end::Item-->
		<!--begin::Separator-->
		<div class="separator separator-dashed my-4"></div>
		<!--end::Separator-->
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Wrapper-->
			<div class="d-flex align-items-center me-3">
				<!--begin::Icon-->
				<img src='@KTTheme.GetAssetPath("media/stock/ecommerce/194.png")' class="me-4 w-50px" alt="" />
				<!--end::Icon-->
				<!--begin::Section-->
				<div class="flex-grow-1">
					<a href="?page=apps/ecommerce/sales/details" class="text-gray-800 text-hover-primary fs-5 fw-bold lh-0">Friendly Robot</a>
					<span class="text-gray-500 fw-semibold d-block fs-7">Item: #XDG-2347</span>
				</div>
				<!--end::Section-->
			</div>
			<!--end::Wrapper-->
			<!--begin::Value-->
			<span class="text-gray-800 fw-bold fs-6">$ 48.00</span>
			<!--end::Value-->
		</div>
		<!--end::Item-->
	</div>
	<!--end::Body-->
</div>
<!--end::List widget 17-->