<!--begin::List widget 22-->
<div class="card card-flush h-xl-100">
	<!--begin::Header-->
	<div class="card-header pt-5">
		<!--begin::Title-->
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">Mining Status</span>
			<span class="text-gray-500 mt-1 fw-semibold fs-6">8k social visitors</span>
		</h3>
		<!--end::Title-->
		<!--begin::Toolbar-->
		<div class="card-toolbar">
			<a href="#" class="btn btn-sm btn-light">All Courses</a>
		</div>
		<!--end::Toolbar-->
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body">
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Section-->
			<div class="d-flex align-items-center me-5">
				<!--begin::Symbol-->
				<div class="symbol symbol-40px me-3">
					<span class="symbol-label bg-light-info">@Html.Raw(KTTheme.GetIcon("abstract-24", "fs-2x text-info"))</span>
				</div>
				<!--end::Symbol-->
				<!--begin::Content-->
				<div class="me-5">
					<!--begin::Title-->
					<a href="#" class="text-gray-800 fw-bold text-hover-primary fs-6">GPUs mining</a>
					<!--end::Title-->
					<!--begin::Desc-->
					<span class="fw-semibold fs-7 d-block text-start text-success ps-0">Running</span>
					<!--end::Desc-->
				</div>
				<!--end::Content-->
			</div>
			<!--end::Section-->
			<!--begin::Wrapper-->
			<div class="d-flex align-items-center">
				<!--begin::Info-->
				<div class="d-flex flex-center">
					<!--begin::Action-->
					<div class="form-check form-switch form-check-custom form-check-solid">
						<input class="form-check-input h-20px w-30px" type="checkbox" value="" id="flexSwitchChecked" checked="checked" />
					</div>
					<!--end::Action-->
				</div>
				<!--end::Info-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Item-->
		<!--begin::Separator-->
		<div class="separator separator-dashed my-4"></div>
		<!--end::Separator-->
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Section-->
			<div class="d-flex align-items-center me-5">
				<!--begin::Symbol-->
				<div class="symbol symbol-40px me-3">
					<span class="symbol-label bg-light-success">@Html.Raw(KTTheme.GetIcon("flask", "fs-2x text-success"))</span>
				</div>
				<!--end::Symbol-->
				<!--begin::Content-->
				<div class="me-5">
					<!--begin::Title-->
					<a href="#" class="text-gray-800 fw-bold text-hover-primary fs-6">GPUs mining</a>
					<!--end::Title-->
					<!--begin::Desc-->
					<span class="fw-semibold fs-7 d-block text-start text-success ps-0">Running</span>
					<!--end::Desc-->
				</div>
				<!--end::Content-->
			</div>
			<!--end::Section-->
			<!--begin::Wrapper-->
			<div class="d-flex align-items-center">
				<!--begin::Info-->
				<div class="d-flex flex-center">
					<!--begin::Action-->
					<div class="form-check form-switch form-check-custom form-check-solid">
						<input class="form-check-input h-20px w-30px" type="checkbox" value="" id="flexSwitchChecked" checked="checked" />
					</div>
					<!--end::Action-->
				</div>
				<!--end::Info-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Item-->
		<!--begin::Separator-->
		<div class="separator separator-dashed my-4"></div>
		<!--end::Separator-->
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Section-->
			<div class="d-flex align-items-center me-5">
				<!--begin::Symbol-->
				<div class="symbol symbol-40px me-3">
					<span class="symbol-label bg-light-danger">@Html.Raw(KTTheme.GetIcon("abstract-33", "fs-2x text-danger"))</span>
				</div>
				<!--end::Symbol-->
				<!--begin::Content-->
				<div class="me-5">
					<!--begin::Title-->
					<a href="#" class="text-gray-800 fw-bold text-hover-primary fs-6">Est. daily USD</a>
					<!--end::Title-->
					<!--begin::Desc-->
					<span class="fw-semibold fs-7 d-block text-start text-gray-500 ps-0">$48.02</span>
					<!--end::Desc-->
				</div>
				<!--end::Content-->
			</div>
			<!--end::Section-->
			<!--begin::Wrapper-->
			<div class="d-flex align-items-center">
				<!--begin::Info-->
				<div class="d-flex flex-center">
					<!--begin::Action-->
					<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-25px h-25px">@Html.Raw(KTTheme.GetIcon("black-right", "fs-2 text-gray-500"))</a>
					<!--end::Action-->
				</div>
				<!--end::Info-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Item-->
		<!--begin::Separator-->
		<div class="separator separator-dashed my-4"></div>
		<!--end::Separator-->
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Section-->
			<div class="d-flex align-items-center me-5">
				<!--begin::Symbol-->
				<div class="symbol symbol-40px me-3">
					<span class="symbol-label bg-light-primary">@Html.Raw(KTTheme.GetIcon("abstract-47", "fs-2x text-primary"))</span>
				</div>
				<!--end::Symbol-->
				<!--begin::Content-->
				<div class="me-5">
					<!--begin::Title-->
					<a href="#" class="text-gray-800 fw-bold text-hover-primary fs-6">Team Members</a>
					<!--end::Title-->
					<!--begin::Desc-->
					<span class="fw-semibold fs-7 d-block text-start text-gray-500 ps-0">6</span>
					<!--end::Desc-->
				</div>
				<!--end::Content-->
			</div>
			<!--end::Section-->
			<!--begin::Wrapper-->
			<div class="d-flex align-items-center">
				<!--begin::Info-->
				<div class="d-flex flex-center">
					<!--begin::Action-->
					<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-25px h-25px">@Html.Raw(KTTheme.GetIcon("black-right", "fs-2 text-gray-500"))</a>
					<!--end::Action-->
				</div>
				<!--end::Info-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Item-->
	</div>
	<!--end::Body-->
	<!--begin::Footer-->
	<div class="card-footer mx-auto pt-0">
		<!--begin::Actions-->
		<a href="#" class="btn btn-primary btn-sm me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_view_users">Add PC</a>
		<a href="#" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#kt_modal_users_search">Buy GPU</a>
		<!--end::Actions-->
	</div>
	<!--end::Footer-->
</div>
<!--end::List widget 22-->